@font-face {
  font-family: "DTLArgTBol";
  src: url("../fonts/argo_bold_t_1-webfont.eot");
  src: url("../fonts/argo_bold_t_1-webfont.eot") format("embedded-opentype"), url("../fonts/argo_bold_t_1-webfont.woff") format("woff"), url("../fonts/argo_bold_t_1-webfont.ttf") format("truetype"), url("../fonts/argo_bold_t_1-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "DTLArgTLig";
  src: url("../fonts/argo_regular_st-webfont.eot");
  src: url("../fonts/argo_regular_st-webfont.eot") format("embedded-opentype"), url("../fonts/argo_regular_st-webfont.woff") format("woff"), url("../fonts/argo_regular_st-webfont.ttf") format("truetype"), url("../fonts/argo_regular_st-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  border: none;
  margin: none; }

.header {
  padding-top: 0 !important; }
  .header .row {
    margin: 0 auto; }
  .header .large-4 .medium-4 {
    width: 20%; }
  .header .logo_banco {
    float: right; }

.main {
  width: 70%;
  padding: 16px; }
  .main .large-6, .main .medium-6 {
    padding: 16px !important; }
  .main input[type="checkbox"] {
    display: inline-block;
    padding: 0; }
  .main input {
    padding: 10px; }
  .main select {
    vertical-align: super !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-bottom: 10px; }
  .main select::-ms-expand {
    display: none; }

.no-padding {
  padding: 0; }
