
@font-face 
	font-family: 'DTLArgTBol'
	src: url("../fonts/argo_bold_t_1-webfont.eot")
	src: url("../fonts/argo_bold_t_1-webfont.eot") format("embedded-opentype"), url("../fonts/argo_bold_t_1-webfont.woff") format("woff"),url("../fonts/argo_bold_t_1-webfont.ttf") format("truetype"),url("../fonts/argo_bold_t_1-webfont.svg") format("svg")
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'DTLArgTLig'
	src: url("../fonts/argo_regular_st-webfont.eot")
	src: url("../fonts/argo_regular_st-webfont.eot") format("embedded-opentype"), url("../fonts/argo_regular_st-webfont.woff") format("woff"),url("../fonts/argo_regular_st-webfont.ttf") format("truetype"),url("../fonts/argo_regular_st-webfont.svg") format("svg")
	font-weight: normal
	font-style: normal

*
	border: none
	margin : none
.main
	width : 70%
	padding : 16px

	.large-6, .medium-6
		padding: 16px !important
	
	input[type="checkbox"]
		display: inline-block

	input, select
		padding : 10px